<!DOCTYPE html>
<html lang="pt-BR">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jequiti</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="shortcut icon"
      href="{% static 'main/jequiti-brand.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a
            class="navbar-brand me-4"
            href="{% url 'main:index' %}"
            style="width: 80px"
          >
            <img
              src="{% static 'main/jequiti-white.svg' %}"
              alt="Logo da Jequiti"
              style="width: 100px"
            />
          </a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{% url 'main:index' %}"
                  aria-current="page"
                  >Página Inicial<span class="visually-hidden"
                    >(current)</span
                  ></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdownId"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Fale com a gente</a
                >
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Meios de comunicação</a>
                  <a class="dropdown-item" href="#">Endereço</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-DW/CfUpKZPWhkLZF/i/4IeWicjwvQ2fNn1hPP9LL/nPLA9KfnJhVWhgpx0x4SNW4"
          crossorigin="anonymous"
        ></script>

        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="height: 500px; aspect-ratio: 16/9;">
          <img
            src="{% static 'main/perfumes/1744.jpg' %}"
            class="d-block w-100"
            alt="..."
            style="object-fit: contain; width: 100%;"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: black">Os melhores perfumes</h5>
            <p style="color: black">Todos com os melhores descontos.</p>
          </div>
        </div>
        <div class="carousel-item" style="height: 500px; aspect-ratio: 16/9;">
          <img
            src="{% static 'main/perfumes/3ce683de6f490c24cbab911200de5198.jpg' %}"
            class="d-block w-100"
            alt="..."
            style="object-fit: contain; width: 100%;"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: black">Perfumes do seu time do coração</h5>
            <p style="color: black">Clique e conheça as melhores opções</p>
          </div>
        </div>
        <div class="carousel-item" style="height: 500px; aspect-ratio: 16/9;">
          <img
            src="{% static 'main/perfumes/1286.jpg' %}"
            class="d-block w-100"
            alt="..."
            style="object-fit: contain; width: 100%;"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 style="color: black">As estrelas se encontram aqui</h5>
            <p style="color: black">Conheça mais sobre.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container text-center text-md-start mt-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img
              src="{% static 'main/perfumes/download (1).jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title">Perfume Ana Hickmann</h4>
              <p class="card-text">R$150,00</p>
              <a href="#" class="btn btn-dark btn-xs">COMPRE AGORA!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="{% static 'main/perfumes/12886GG.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title">Perfume Cruzeiro</h4>
              <p class="card-text">R$170,00</p>
              <a href="#" class="btn btn-dark btn-xs">COMPRE AGORA!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="{% static 'main/perfumes/7198b3aa98fcbbde0791de65ef1364ee.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title">Perfume Flamengo</h4>
              <p class="card-text">R$200,00</p>
              <a href="#" class="btn btn-dark btn-xs">COMPRE AGORA!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main>{% block content %}{% endblock %}</main>
    <footer class="text-center text-lg-start bg-dark text-white mt-5">
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <div class="me-5 d-none d-lg-block">
          <span>Acompanhe a gente nas redes sociais:</span>
        </div>
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fa fa-gem me-3"></i>jequiti
              </h6>
              <p>
                A Jequiti é uma empresa de cosméticos que produz popularmente
                perfumes e colônias com famosos.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Tecnologias:</h6>
              <p>
                <a href="#!" class="text-reset">HTML</a>
              </p>
              <p>
                <a href="#!" class="text-reset">CSS</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Javascript</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Django</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Devs:</h6>
              <p>
                <a href="#!" class="text-reset">Clediston</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Gustavo</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Heverton</a>
              </p>
              <p>
                <a href="#!" class="text-reset"> João Vitor Paiva</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Leonardo</a>
              </p>
              <p>
                <a href="#!" class="text-reset"><del>Paulo</del></a>
              </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
              <p>
                <i class="fa fa-home me-3"></i>66065-217, Belém do Pará -
                Brasil
              </p>
              <p>
                <i class="fa fa-envelope me-3"></i>
                jequiticosmeticos@unama.br
              </p>
              <p><i class="fa fa-phone me-3"></i> +55 91 9 3345-6788</p>
              <p><i class="fa fa-print me-3"></i> +55 91 9 3257-6789</p>
            </div>
          </div>
        </div>
      </section>

      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="{% url 'main:index' %}">Jequiti</a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
